@inherits LayoutComponentBase
@using TestChat.Client.Components
@using TestChat.Client.Services
@inject IChatService ChatService

<Modal @ref="_changeNameModal"/>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 cursor-pointer">
            <a @onclick="ShowChangeNameModal">Change name</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

@code
{
    private Modal _changeNameModal = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ShowChangeNameModal();
    }

    private async Task ShowChangeNameModal()
    {
        await _changeNameModal.ShowAsync<ChangeNameModal>("Enter your name",
            parameters: new Dictionary<string, object>
            {
                { "SaveClicked", EventCallback.Factory.Create<string>(this, SaveClicked) },
                { "CloseClicked", EventCallback.Factory.Create(this, CloseClicked) }
            });
    }

    private async Task SaveClicked(string userName)
    {
        await ChatService.ChangeNameAsync(userName);
        await _changeNameModal.HideAsync();
    }

    private Task CloseClicked() => _changeNameModal.HideAsync();
}