@page "/"
@using TestChat.Client.Services
@using TestChat.Client.Components
@inject IChatService ChatService
@implements IAsyncDisposable

<h3>Messages</h3>

<Chat History="@ChatService.ActiveChat"/>

@code {

    protected override async Task OnInitializedAsync()
    {
        await ChatService.ConnectAsync();
        ChatService.OnChange += StateHasChanged;
    }

    public async ValueTask DisposeAsync()
    {
        await ChatService.DisposeAsync();
        ChatService.OnChange -= StateHasChanged;
    }
}