@page "/"
@using TestChat.Client.Services
@using TestChat.Client.Components
@inject IChatService ChatService
@implements IAsyncDisposable

<h3>@RoomTitle</h3>

<Chat History="@ChatService.ActiveChat"/>
<MessageInput OnMessageSent="SendMessage"/>

@code {

    private string RoomTitle => ChatService.ActiveUser is not null
        ? $"Private chat with {ChatService.ActiveUser.DisplayName}"
        : "Public chat";

    protected override async Task OnInitializedAsync()
    {
        await ChatService.ConnectAsync();
        ChatService.OnChange += StateHasChanged;
    }

    public async Task SendMessage(string text)
    {
        await ChatService.SendMessageAsync(text);
    }

    public async ValueTask DisposeAsync()
    {
        await ChatService.DisposeAsync();
        ChatService.OnChange -= StateHasChanged;
    }

}